@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Matemasie&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content {
    padding: 20px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-attachment: fixed;
    background-image: url("./images/mangob.jpeg");
}
