.contactus {
 
  display: flex;
}
.contactus .container{
  width: 50%;
 
}
.contactus p.containers{
  color: rgb(240, 209, 35);
  font-size: large;
  line-height: 30px ;
  margin-top: 10px;
  margin-left: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contactus p.containers strong{
  font-weight: bolder ;
  color: orange;
}
