.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    width: 500px;
    background: rgb(68, 143, 38);
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 15px; 
}
.text{
    font-size: 48px;
    font-weight: 700;
}
.inputs{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 350px;
    height: 50px;
    background: #eaeaea;
    border-radius: 6px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}
.container img{
    height: 25px;
    width: 25px;
}
.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}
.forgot-password span{
    color: #4c00b4;
    cursor: pointer;
}
.submit-container{
    display: flex;
    gap: 10px;
    margin: 30px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: white;
    background: rgb(60, 175, 32);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background: #cfc31d;
    color: #676767;
}